textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid #545149;
  background-color: transparent;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
}

main input {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

#tweet-form{
  display: none;
}
 
.error {
  display: none;
}

#empty-error {
  text-align: center;
  border: 3px solid red;
  color: red;
}

#count-error {
  text-align: center;
  border: 3px solid red;
  color: red;
}

.error > * {
  justify-content: center;
}
